<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Language" content="en">
  <meta name="google" content="notranslate">
  <title>start my pitchers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
